*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora",sans-serif;
}
 header{
    background-color: #FC0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
    height: 5rem;
    margin-bottom: 3rem;
    padding-inline: 3rem;
 }
 nav{
    display: flex;
    list-style: none;
    gap: 3rem;
 }
 nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
 }
 nav a{
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
 }
 nav li:hover{
    transform: scale(1.1);
    transition: 400ms;
 }
.titulo{
   color: #FFF;
}
#container{
     display: flex;
     align-items: center;
     gap: 20px;
}
#container img{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
.texto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}
footer{
   font-size: 20px;
   text-align: center;
}